{% extends "layout.html"%}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="text-center py-4 lg:px-4 bg-{{category}}">
        <div class="p-2 bg-green-800 items-center text-green-100 leading-none rounded-full flex inline-flex" role="alert">
          <span class="flex rounded-full bg-green-500 uppercase px-2 py-1 text-xs font-bold mr-3">Success!</span>
          <span class="font-semibold mr-2 text-left flex-auto">{{message}}</span>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<header class="w-full mx-auto container">
    <div class="flex flex-col items-center mx-auto py-12 w-full">
        <a class="font-bold text-gray-900 uppercase hover:text-gray-700 text-4xl lg:text-5xl">
            ViewGet
        </a>
        <p class="text-base lg:text-lg text-gray-600">
            Review Blog
        </p>
    </div>
</header>

<div class="container flex justify-between xl:grid grid-cols-3 mx-auto flex flex-wrap py-6">


    <!-- Artikel -->
    <section class="w-full flex flex-col xl:col-span-2 items-center px-3 xl:pl-40 float-left">

        {% for post in posts %}
        <article class="flex flex-col shadow my-4">
            <a href="{{ url_for('post', post_id=post.id)}}" class="hover:opacity-75">
                <img src="{{ url_for('static', filename='../img/3627634.jpg') }}" class="w-full xl:h-50">
            </a>
            <div class="bg-white flex flex-col justify-start p-6">
                <p class="text-purple-700 text-sm font-bold uppercase pb-4">Wirausaha</p>
                <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">{{ post.title }}</a>
                <p href="#" class="text-sm pb-3">
                    <a href="{{url_for('account')}}" class="font-semibold hover:text-gray-800">{{ post.author.username }}</a>, {{ post.date.strftime('%d %B %Y') }}
                </p>
                <p class="pb-6">{{ post.content| striptags | truncate(300) }}</p>
                <a href="{{ url_for('post', post_id=post.id)}}" class="uppercase text-gray-900 hover:text-black">Lanjutkan Baca <i class="fas fa-arrow-right"></i></a>
            </div>
        </article>
        {% endfor %}

    </section>

    <!-- Samping -->
    <aside class="w-full flex flex-col items-center px-3">

        <div class="w-full bg-white shadow flex flex-col my-4 p-6">
            <p class="text-xl font-semibold pb-5">About Me</p>
            <p class="pb-2">Halo perkenalkan nama saya AL Farizi Dwi Prasetyo, saya berasal dari Indramayu, saya saat ini sedang kuliah di Universitas Muhammadiyah Cirebon dengan mengambil jurusan Teknik informatika</p>
            <a href="https://www.instagram.com/alfariziiprasetyo/" class="w-full bg-purple-800 text-white font-bold text-sm uppercase rounded hover:bg-purple-700 flex items-center justify-center px-2 py-3 mt-4">
                Follow Instagram
            </a>
        </div>

    </aside>



</div>


{% endblock %}